<main class="flex flex-col h-screen text-white mx-96">
  <router-outlet />
  <div class="border-x-[1px] border-slate-600">
    <form
      class="flex gap-4 border-b-[1px] border-slate-600 px-5 h-20"
      (ngSubmit)="sendPost()"
    >
      <input
        class="w-full bg-transparent outline-none placeholder-neutral-500"
        placeholder="What's on your mind?"
        name="post-input"
        [(ngModel)]="post"
        alt="Input for post"
        required
      />
      <button type="submit" [disabled]="!post">Post</button>
    </form>
    <div class="w-50" *ngFor="let post of posts">
      <app-post [post]="post" />
    </div>
  </div>
</main>
